<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit Owl</title>
</head>
<body class='bg-dark'>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/owls/new">Add Owl</a>
        </li>
    </ul>
    <div class="jumbotron col-6 container mt-4">
        <h1 class="display-4 text-center">Edit Owl</h1>
        <hr class="my-4">
        <form action='/owls/<%=owl[0]._id%>' method="POST" class='col-8 offset-2'>
            <div class="form-group">
              <label for="first_Name">First Name</label>
              <% if(errors !== "") { %>
                <% for(var mes in errors){ %>
                    <% if(errors[mes].field === 'first_Name'){ %>
                    <p class='text-danger'><%= errors[mes].error %></p>
                    <% } %>
                <% } %>
            <% } %>
              <input name='first_Name'type="text" class="form-control"  value="<%= owl[0].first_Name%>">
            </div>
            <div class="form-group">
              <label for="last_Name">Last Name</label>
              <% if(errors !== "") { %>
                <% for(var mes in errors){ %>
                    <% if(errors[mes].field === 'last_Name'){ %>
                    <p class='text-danger'><%= errors[mes].error %></p>
                    <% } %>
                <% } %>
            <% } %>
              <input name='last_Name'type="text" class="form-control" value="<%= owl[0].last_Name%>">
            </div>
            <div class="form-group">
              <label for="type">Owl Type</label>
              <% if(errors !== "") { %>
                <% for(var mes in errors){ %>
                    <% if(errors[mes].field === 'type'){ %>
                    <p class='text-danger'><%= errors[mes].error %></p>
                    <% } %>
                <% } %>
            <% } %>
              <input name='type'type="text" class="form-control" value="<%= owl[0].type%>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>