@model ViewModel
<nav aria-label="breadcrumb text-center">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Chefs</li>
    <li class="breadcrumb-item"><a href="/dishes">Dishes</a></li>
    <a class="btn btn-primary offset-9" href="/chefs/new" role="button">Add a Chef</a>
  </ol>
</nav>
<div class="jumbotron">
  <h1 class="display-4 text-center">Chefs</h1>
  <p class="lead text-center">Check out our roster of Chefs!</p>
  <hr class="my-4">
  <table class="table">
    <thead class="thead-dark text-center">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col"># of Dishes</th>
      </tr>
    </thead>
    <tbody class="text-center">
      @{ foreach(var chef in Model.AllChefs)
        {
          int age = @DateTime.Now.Year - @chef.DOB.Year;
          <tr>
            <th>@chef.FirstName @chef.LastName</th>
            <td>@age</td>
            <td>@chef.ChefsDishes.Count()</td>
          </tr>
        }
      }
    </tbody>
  </table>
  
</div>