<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Survey Form</title>
</head>
<body class="blue darken-4">
    <div class="container l8 center-align white-text">
        <h1>Name: <%= result.first_name %> <%= result.last_name %></h1>
        <h3>Dojo: <%= result.location %></h3>
        <h3>Language: <%= result.language %></h3>
        <h3>Comments: <%= result.comments %></h3>
        <p></p>
                
    </div>

</body>
</html>